<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Book name</th>
      <th>Author Id</th>
    </tr>
  </thead>
  <tbody>
  <% @nls.each do |book| %>
    <tr>
      <td><%= book.id %></td>
      <td><%= book.book_name %></td>
      <td><%= book.author_id %></td>
    </tr>
  <%- end -%>
  </tbody>
  
</table>